<div class="panel panel-primary"><h3><%= @cotizacion.cliente_id %></h3></div>

<% if notice.nil?%>
    <p id="notice"><%= notice %></p>
<% else %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<p>
  <strong>ID Cliente: </strong>
  <%= @cotizacion.cliente_id.to_s %>
</p>
<p>
  <strong>Fecha Cotizacion: </strong>
  <%= @cotizacion.fecha_acotizacion.to_s %>
</p>
<p>
  <strong>Fecha T Cotizacion: </strong>
  <%= @cotizacion.fecha_tcotizacion.to_s %>
</p>
<p>
  <strong> Descuento: </strong>
  <%= @cotizacion.descuento.to_s %>
</p>
<p>
  <strong>Descripción: </strong>
  <%= @cotizacion.descripcion.to_s %>
</p>