<div class="panel panel-primary"><h3><%= @detalle_venta.id %></h3></div>

<% if notice.nil?%>
    <p id="notice"><%= notice %></p>
<% else %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<p>
  <strong>Cantidad: </strong>
  <%= @detalle_venta.cantidad.to_s %>
</p>
<p>
  <strong>Precio unitario: </strong>
  <%= @detalle_venta.precio_unitario.to_s %>
</p>
<%= link_to 'Atras', detalle_ventas_path %>