

<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@pedido, :html => { :role => "form" }) do |f| %>
        <% if @pedido.errors.any? %>
        

        <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>

        <h2><%= pluralize(@pedido.errors.count, "error") %> Prohibido guardar este Articulo:</h2>

        <ul>
          <% @pedido.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :cliente_id %>
      <%= f.select('cliente_id', Cliente.all.collect{|c| [c.nombres, c.id]}) %>
    </div>
    <div class="form-group">
     <%= f.label :fecha_pedido %>
      <%= f.date_select :fecha_pedido, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :fecha_entrega %>
      <%= f.date_select :fecha_entrega, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :estado %>
      <%= f.select :estado,[['Entregado', true], ['No entregado', false]], :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :descripcion %>
      <%= f.text_area :descripcion, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
 </div>
  </div>
</section>