

<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrar <small>Pedido</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "pedidos", pedidos_path %></li>
      <li class="active">Mostrar</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_pedido_path(@pedido), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Editar
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Cliente:</dt>
            <dd><%= @pedido.cliente.nombres.to_s %></dd>

            <dt>Fecha pedido: </dt>
            <dd><%= @pedido.fecha_pedido.to_s %></dd>

            <dt>Fecha entrega: </dt>
            <dd><%= @pedido.fecha_entrega.to_s %></dd>

            <dt>Estado: </dt>
            <dd><%if @pedido.estado == true %>
              Entregado
             <%else%>
             No Entregado
             <%end%></dd>

            <dt>Descripcion: </dt>
            <dd><%= @pedido.descripcion.to_s %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Atras', pedidos_path, :class => 'btn btn-success'%>

</section>

