<% blanco = " " %>
<div class="panel panel-primary"><h3><%= @pedido.cliente.nombres.to_s  %> <%= @pedido.cliente.apellidos.to_s  %></h3></div>

<% if notice.nil?%>
    <p id="notice"><%= notice %></p>
<% else %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<p>
  <strong>Cliente: </strong>
  <%= @pedido.cliente.nombres.to_s  %>  <%=  @pedido.cliente.apellidos.to_s %>
</p>
<p>
  <strong>Fecha_pedido: </strong>
  <%= @pedido.fecha_pedido.to_s %>
</p>
<p>
  <strong>Fecha_entrega: </strong>
  <%= @pedido.fecha_entrega.to_s %>
</p>
<p>
  <strong>Fecha_entrega: </strong>
  <%= @pedido.fecha_entrega.to_s %>
</p>
<p>
  <strong>Estado: </strong>
  <%if @pedido.estado == true %>
  Entregado
      <%else%>
  No Entregado
      <%end%>
</p>
<p>
  <strong>Descripcion: </strong>
  <%= @pedido.descripcion.to_s %>
</p>



    