<div class="panel panel-primary"><h3><%= @detalle_pedido.id %></h3></div>

<% if notice.nil?%>
    <p id="notice"><%= notice %></p>
<% else %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<p>
  <strong>Cantidad: </strong>
  <%= @detalle_pedido.cantidad.to_s %>
</p>
<p>
  <strong>Precio unitario: </strong>
  <%= @detalle_pedido.precio_unitario.to_s %>
</p>
<%= link_to 'Atras', detalle_pedidos_path %>