<%=  form_for(@venta) do |f| %>
    <% if @venta.errors.any? %>
        <div id="error_explanation"> </div>
        <h2><%= pluralize(@venta.errors.count, "error") %> Prohibido guardar este venta:</h2>

        <ul>
          <% @venta.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :cliente_id %>
      <%= f.text_field :cliente_id%>
    </div>
    <div class="field">
      <%= f.label :fecha_venta %>
      <%= f.text_field :fecha_venta%>
    </div>
    <div class="field">
      <%= f.label :tipo_documento %>
      <%= f.text_field :tipo_documento %>
    </div>
    <div class="field">
      <%= f.label :descripcion %>
      <%= f.text_area :descripcion %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>