

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_venta_path(@venta), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Editar 
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Cliente ID:</dt>
            <dd><%= @venta.cliente_id.to_s %></dd>

            <dt>Fecha venta: </dt>
            <dd><%= @venta.fecha_venta.to_s %></dd>

            <dt>Tipo de Documento: </dt>
            <dd><%= @venta.tipo_documento.to_s %></dd>

            <dt>Descripción: </dt>
            <dd><%= @venta.descripcion.to_s %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Atras', ventas_path, :class => 'btn btn-success'%>

</section>

