


<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar5.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>Hola, persona</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Conectado</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link "#" do %>
      <i class="fa fa-dashboard"></i> <span>Menu</span>
    <% end %>


    <%= treeview_link 'Servicios' do %>
      <%= nav_link "#" do %>
        
        <%= nav_link ventas_url do %>
          <i class="fa fa-circle-o"></i> Ventas
      <% end %>
      <%= nav_link cotizacions_url do %>
          <i class="fa fa-circle-o"></i> Cotizaciones
      <% end %>
      <%= nav_link pedidos_url do %>
          <i class="fa fa-circle-o"></i> Pedidos
      <% end %>

      <% end %>
    <% end %>

   
      <%= nav_link clientes_url do %>
          <i class="fa fa-angle-double-right"></i> Clientes
      <% end %>
    


     <%= nav_link articulos_url do %>
          <i class="fa fa-angle-double-right"></i> Articulos
      <% end %>

  </ul>
</section>



