<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@articulo, :html => { :role => "form" }) do |f| %>
        <% if @articulo.errors.any? %>
        


        <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>

        <h2><%= pluralize(@articulo.errors.count, "error") %> Prohibido guardar este Articulo:</h2>

        <ul>
          <% @articulo.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :stock %>
      <%= f.text_field :stock, :class => "form-control" %>
    </div>

   <div class="form-group">
      <%= f.label :precio_compra %>
      <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.text_field :precio_compra, :class => "form-control" %>
      <div class="input-group-addon">.00</div>
    </div>
    </div>


    <div class="form-group">
      <%= f.label :precio_venta %>
     <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.text_field :precio_venta, :class => "form-control" %>
      <div class="input-group-addon">.00</div>
    </div>
    </div>


    <div class="form-group">
      <%= f.label :descripcion %>
      <%= f.text_area :descripcion, :class => "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :imagen %>
    <%= f.file_field :imagen2, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
 </div>
  </div>
</section>