
<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrar <small>Articulo</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "articulos", articulos_path %></li>
      <li class="active">Mostrar</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_articulo_path(@articulo), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Editar
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Nombre:</dt>
            <dd><%= @articulo.nombre.to_s %></dd>

            <dt>Stock: </dt>
            <dd><%= @articulo.stock.to_s %></dd>

            <dt>Precio Compra: </dt>
            <dd><%= @articulo.precio_compra.to_s %></dd>

            <dt>Precio Venta: </dt>
            <dd><%= @articulo.precio_venta.to_s %></dd>

            <dt>Descripción: </dt>
            <dd><%= @articulo.descripcion.to_s %></dd>

            <dt>Imagen: </dt>
            <dd><%= image_tag @articulo.imagen2.url(:thumb)  %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Atras', articulos_path, :class => 'btn btn-success'%>

</section>

